<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Mi app {%endblock%}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
</head>
<body>
    <header>
        <h1>Cabecera de mi aplicación</h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home')}}">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('saludo' , name='amigo')}}">Saluda</a>
                </li>
                <li>
                    <a href="{{ url_for('catalogo') }}">Catalogo</a>

                </li>
                <li>
                    <a href="{{ url_for('contacto') }}">Contacto</a>
                </li>
                <li>
                    <a href="{{ url_for('filtrar') }}">Filtrar</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %} 
        <h1>Contenido de mi pagina</h1>
        {% endblock %}
    </main>
    <hr>
    <footer>
        <p>2026&copy;IES Las Galletas</p>
    </footer>
</body>
</html>