<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Mi app {%endblock%}</title>
</head>
<body>
    <header>
        <h1>Cabecera de mi aplicación</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/saludo/amigo">Saluda</a>
                </li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %} 
        <h1>Contenido de mi pagina</h1>
        {% endblock %}
    </main>
    <hr>
    <footer>
        <p>2026&copy;IES Las Galletas</p>
    </footer>
</body>
</html>