{% extends "base.html" %}
{%block title%}Catalogo{%endblock%}

{% block content %}
<h1> Catalogo</h1>
<h2>Nombre: {{nombre}}</h2>
<h4>Listado de productos</h4>
<ul>
    {% for indice ,producto in lista_productos %}
    <li>
        <strong>
            <a href="{{url_for('producto', idProducto= indice)}}">
            <!-- <a href="{{url_for('producto', idProducto= loop.index-1)}}"> -->
                {{producto.nombre}}</strong>
            </a>
        {{producto.precio}}€
        {% if producto.disponible %}
        <span style=" color: green">En stock</span>
        {% else %}
        <span style=" color: red">Agotado</span>
        {%endif%}
    </li>
    {% endfor %}
</ul>
{%endblock%}