<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    <h1> Caatalogo</h1>
    <h2>Nombre: {{nombre}}</h2>
    <h3>Mostrando el producto con id {{id_product}}</h3>
    <h4>Listado de productos</h4>
    <ul>
        {% for producto in lista_productos %}
            <li>
                <strong>{{producto.nombre}}</strong>
                {{producto.precio}}€
                {% if producto.disponible %}
                    <span style=" color: green">En stock</span>
                {% else %}
                    <span style=" color: red">Agotado</span>
                {%endif%}
            </li>
        {% endfor %}
    </ul>
</body>
</html>